<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ilvina.css') }}">
</head>
<body>
    <div class="container">
        <h1>Поиск вакансий</h1>
        <form action="/api/search" method="post">
            <label>
                Вакансия:
                <input type="text" name="keyword" class="rounded-input" />
            </label>
            <label>
                Город:
                <input type="text" name="area" class="rounded-input" />
            </label>
            <label>
                Зарплата от:
                <input type="number" name="salary_from" class="rounded-input" />
            </label>
            <label>
                Зарплата дo:
                <input type="number" name="salary_to" class="rounded-input" />
            </label>
            <button type="submit" class="rounded-button">Искать</button>
        </form>
        <a href="{{ url_for('check_vacancies') }}" class="check-vacancies-btn">Список актуальных предложений</a>
        {% if response.vacancies %}
            <div>
    
                {% for vacancy in response.vacancies %}
                    <div class="vacancy">
                        <h3>{{ vacancy[1] }}</h3>
                            
                        <p class="meta">
                            <strong>Город:</strong> {{ vacancy[2] }} |
                            <strong>Зарплата:</strong> {{ vacancy[4] }} - {{ vacancy[5] }} {{ vacancy[3] }} |
                            <strong>Работодатель:</strong> {{ vacancy[6] }}
                        </p>
                        <div class="description">
                            <p><strong>Требования:</strong> {{ vacancy[8] }}</p>
                            <p><strong>Обязанности:</strong> {{ vacancy[9] }}</p>
                        </div>
                        <p class="meta">
                            <strong>Последнее обращение:</strong> {{ vacancy[10] }} |
                            <strong>Опубликована:</strong> {{ vacancy[11] }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>